NEXT_PUBLIC_BASE_API=https://nestly-server.vercel.app/api

NEXT_PUBLIC_RECHAPCHA_CLIENT_KEY=6Lcikf4qAAAAABa6pkVdM5EKXQqCo_76ubYIgKNB
NEXT_PUBLIC_RECHAPCHA_SERVER_KEY=6Lcikf4qAAAAAB3nxLd5qK_0UH_l2fRR8g-U6YaK

NEXT_PUBLIC_CLOUDINARY_UPLOAD_URL  = https://api.cloudinary.com/v1_1/dczoi2kkg/upload
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET = nestly

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = pk_test_51IeSJCAVu8QSwHkAOSeEOANrMNP3em7V83ZQZY8kP0odgAgnUuKwX2cxNYooZs0z99XXuotd1JCNcyQGx2F0JCVW00fIIVRgaI